
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-gtNshoUh4d gp-child-item-gtNshoUh4d gjmMYY-ESR"
      style="--minw:calc(100% / 2 - 16px);--minw-tablet:calc(100% / 1 - 0px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 2 - 16px);--maxw-tablet:calc(100% / 1 - 0px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%;--mr:32px;--mr-tablet:32px;--mr-mobile:80px"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      dir="ltr"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFFFFF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"glo10HJ4WZ"}' data-id="glo10HJ4WZ" id="glo10HJ4WZ" data-same-height-subgrid-container class="glo10HJ4WZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:32px;--pl:var(--g-s-l);--pb:32px;--pr:var(--g-s-l);--pt-tablet:32px;--pl-tablet:32px;--pb-tablet:32px;--pr-tablet:32px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--h-tablet:100%;--of:hidden;--of-tablet:hidden;--of-mobile:hidden;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="giuwWft54q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gqKhL7sZZg"}' data-id="gqKhL7sZZg" id="gqKhL7sZZg" data-same-height-subgrid-container class="gqKhL7sZZg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:32px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCVLqoRp3z gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gRLQvKAl4C"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1767072223283 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gRLQvKAl4C"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Rectangle_41011_b7986687-020e-49d7-9cd0-315d643e5a65.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMiIgaGVpZ2h0PSIxMzM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAyLTEzMzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDIiIGhlaWdodD0iMTMzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMiIgaGVpZ2h0PSIxMzM2IiBmaWxsPSJ1cmwoI2ctMTAwMi0xMzM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMiIgdG89IjEwMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Rectangle_41011_b7986687-020e-49d7-9cd0-315d643e5a65.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMiIgaGVpZ2h0PSIxMzM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAyLTEzMzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDIiIGhlaWdodD0iMTMzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMiIgaGVpZ2h0PSIxMzM2IiBmaWxsPSJ1cmwoI2ctMTAwMi0xMzM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMiIgdG89IjEwMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Rectangle_41011.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAyIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAyLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAyIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAyIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTMwMi00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDIiIHRvPSIzMDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Rectangle_41011.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gYMyudpUqw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gVeyP1-aSJ"}' data-id="gVeyP1-aSJ" id="gVeyP1-aSJ" data-same-height-subgrid-container class="gVeyP1-aSJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:12px;--cg-tablet:120px;--cg-mobile:12px;--rg:16px;--rg-tablet:120px;--rg-mobile:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gl8if7WyPY gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="g829s7uQmz"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:left;--jc-mobile:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gjhDH0JEzF ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gjvXLmYAAU" class="gp-leading-[0] gjvXLmYAAU" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gjvXLmYAAU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjvXLmYAAU " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="tp.svg" data-id="590862626758591465" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path d="M15 0H0V15H15V0Z" fill="#00B878"/>
<path d="M5.54017 8.67438L2.41064 6.16888H6.29962L7.4542 2.41064L8.79115 6.16888H12.5892L7.4542 10.158L9.82424 9.42605L10.8573 12.5893L7.4542 10.158L4.32462 12.5893L5.54017 8.67438Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g3-9Ma5kYg ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="geADEvJCK2" class="gp-leading-[0] geADEvJCK2" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pr-mobile:1px;--ta:left">
      <div data-id="geADEvJCK2" class="icon-wrapper gp-inline-flex gp-overflow-hidden geADEvJCK2 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="tp.svg" data-id="590862626758591465" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path d="M15 0H0V15H15V0Z" fill="#00B878"/>
<path d="M5.54017 8.67438L2.41064 6.16888H6.29962L7.4542 2.41064L8.79115 6.16888H12.5892L7.4542 10.158L9.82424 9.42605L10.8573 12.5893L7.4542 10.158L4.32462 12.5893L5.54017 8.67438Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g5EjuXH502 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gNVeXIIGtl" class="gp-leading-[0] gNVeXIIGtl" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gNVeXIIGtl" class="icon-wrapper gp-inline-flex gp-overflow-hidden gNVeXIIGtl " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="tp.svg" data-id="590862626758591465" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path d="M15 0H0V15H15V0Z" fill="#00B878"/>
<path d="M5.54017 8.67438L2.41064 6.16888H6.29962L7.4542 2.41064L8.79115 6.16888H12.5892L7.4542 10.158L9.82424 9.42605L10.8573 12.5893L7.4542 10.158L4.32462 12.5893L5.54017 8.67438Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gLF0TXBu-C ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g1v9-BL8bP" class="gp-leading-[0] g1v9-BL8bP" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pr-mobile:1px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="g1v9-BL8bP" class="icon-wrapper gp-inline-flex gp-overflow-hidden g1v9-BL8bP " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FAD157;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="tp.svg" data-id="590862626758591465" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path d="M15 0H0V15H15V0Z" fill="#00B878"/>
<path d="M5.54017 8.67438L2.41064 6.16888H6.29962L7.4542 2.41064L8.79115 6.16888H12.5892L7.4542 10.158L9.82424 9.42605L10.8573 12.5893L7.4542 10.158L4.32462 12.5893L5.54017 8.67438Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gw_Rcr9Y1F ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gKG3VtvKkO" class="gp-leading-[0] gKG3VtvKkO" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gKG3VtvKkO" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKG3VtvKkO " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#E4893A;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:18px;--h:18px;--h-tablet:18px;--h-mobile:18px;--minw:18px;--minw-tablet:18px;--minw-mobile:18px;--height-desktop:18px;--height-tablet:18px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="tp.svg" data-id="590862626758591465" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
<path d="M15 0H0V15H15V0Z" fill="#00B878"/>
<path d="M5.54017 8.67438L2.41064 6.16888H6.29962L7.4542 2.41064L8.79115 6.16888H12.5892L7.4542 10.158L9.82424 9.42605L10.8573 12.5893L7.4542 10.158L4.32462 12.5893L5.54017 8.67438Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gKcuVbcxFM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gv2R4BMujp"}' data-id="gv2R4BMujp" id="gv2R4BMujp" data-same-height-subgrid-container class="gv2R4BMujp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gb9uKmsRBA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVttaKJUTP"
        class="gVttaKJUTP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:center;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVttaKJUTP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g-HVoLB6HQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g6OMZF5Tn0"}' data-id="g6OMZF5Tn0" id="g6OMZF5Tn0" data-same-height-subgrid-container class="g6OMZF5Tn0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:dashed;--bw:1px 1px 1px 1px;--bc:#E8E8E8;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--mr:auto;--pr:0px;--mr-tablet:200px;--pt-tablet:2px;--pb-tablet:2px;--pr-tablet:0px;--mr-mobile:200px;--pt-mobile:2px;--pb-mobile:2px;--pr-mobile:0px;--cg:8px;--cg-tablet:2px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:150px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzwz-NWXMI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpJvLVLjuy"
        class="gpJvLVLjuy"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:12px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpJvLVLjuy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--mb:0px;--pt:16px;--pb:16px;--mb-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--mb-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="g8zL-jMKZa ">
      
    <div data-id="g8zL-jMKZa" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#E5E5E5" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E5E5E5;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#E5E5E5;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#E5E5E5;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glFNzf4UJ4"
        class="glFNzf4UJ4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:12px;--pr:0px;--ml-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:12px;--pr-tablet:0px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:8px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglFNzf4UJ4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwQWSwwaph"
        class="gwQWSwwaph"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:16px;--pr:0px;--ml-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:16px;--pr-tablet:0px;--ml-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwQWSwwaph_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gXVUUaJ6YZ"}' data-id="gXVUUaJ6YZ" id="gXVUUaJ6YZ" data-same-height-subgrid-container class="gXVUUaJ6YZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--cg-mobile:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:8px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKeKlLR0-M gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gyw09DCwHJ"}' data-id="gyw09DCwHJ" id="gyw09DCwHJ" data-same-height-subgrid-container class="gyw09DCwHJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:4px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_aL4aIWcK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g2dQGmAKvo" class="gp-leading-[0] g2dQGmAKvo" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g2dQGmAKvo" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2dQGmAKvo " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="571476950585967461" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<path d="M13.4667 6.72421C13.2598 6.60272 13.0739 6.44799 12.9162 6.2661C12.9322 6.01286 12.9919 5.76439 13.0928 5.53196C13.2781 5.00372 13.4877 4.40535 13.1514 3.94016C12.815 3.47498 12.1798 3.48978 11.6224 3.50265C11.3761 3.52824 11.1273 3.51127 10.8866 3.45246C10.7584 3.24175 10.6668 3.01042 10.6158 2.76851C10.4578 2.22482 10.2776 1.61037 9.72397 1.42636C9.19011 1.25264 8.69575 1.63482 8.25872 1.97068C8.07014 2.14461 7.85164 2.28221 7.61401 2.37667C7.3739 2.28298 7.15296 2.14534 6.9623 1.97068C6.52654 1.63675 6.03409 1.25071 5.49769 1.427C4.94535 1.60844 4.76506 2.22482 4.6058 2.76851C4.55492 3.00964 4.46426 3.24041 4.3376 3.45117C4.09647 3.50982 3.84733 3.52722 3.60052 3.50265C3.04117 3.48721 2.41112 3.47047 2.07156 3.94016C1.73201 4.40986 1.94415 5.00372 2.13017 5.53132C2.23239 5.7634 2.293 6.01197 2.30919 6.26545C2.15188 6.44759 1.96617 6.60255 1.7594 6.72421C1.29307 7.04591 0.763672 7.41201 0.763672 8.00652C0.763672 8.60103 1.29307 8.96584 1.7594 9.28884C1.96613 9.4103 2.15184 9.56505 2.30919 9.74695C2.29469 10.0003 2.23581 10.2491 2.13527 10.4817C1.95052 11.0093 1.74157 11.6077 2.0773 12.0728C2.41302 12.538 3.04627 12.5233 3.60625 12.5104C3.85277 12.4848 4.10181 12.5017 4.34269 12.5606C4.47035 12.7716 4.56168 13.0027 4.6128 13.2445C4.7708 13.7882 4.95109 14.4027 5.50469 14.5867C5.59345 14.6154 5.68606 14.6302 5.77927 14.6304C6.22725 14.5655 6.64362 14.3598 6.9693 14.0423C7.15788 13.8684 7.37638 13.7308 7.61401 13.6364C7.85412 13.7301 8.07506 13.8677 8.26572 14.0423C8.70211 14.3789 9.19647 14.763 9.731 14.586C10.2833 14.4046 10.4636 13.7882 10.6228 13.2452C10.6739 13.0036 10.7652 12.7725 10.8929 12.5618C11.1331 12.5028 11.3816 12.4854 11.6275 12.5104C12.1869 12.5239 12.8169 12.5425 13.1564 12.0728C13.496 11.6032 13.2838 11.0093 13.0978 10.4811C12.9963 10.2492 12.9357 10.0012 12.9189 9.74823C13.0762 9.56594 13.2622 9.41096 13.4693 9.28949C13.9356 8.96777 14.465 8.60103 14.465 8.00652C14.465 7.41201 13.9337 7.04655 13.4667 6.72421Z" fill="#95C839"/>
<path d="M6.97683 9.77816C6.91407 9.77828 6.85192 9.76583 6.79397 9.74154C6.73601 9.71724 6.6834 9.68158 6.63918 9.63661L5.36506 8.34979C5.28065 8.25831 5.23471 8.13732 5.23689 8.01231C5.23908 7.88729 5.28922 7.76801 5.37677 7.6796C5.4643 7.59118 5.58241 7.54054 5.70618 7.53834C5.82997 7.53613 5.94977 7.58253 6.04034 7.66777L7.02142 8.65862L9.23839 6.97933C9.33978 6.90253 9.46724 6.86956 9.59268 6.88767C9.71811 6.90576 9.83127 6.97345 9.9073 7.07583C9.98333 7.17823 10.016 7.30692 9.99805 7.43361C9.98014 7.56031 9.91311 7.67463 9.81177 7.75141L7.2635 9.68165C7.18078 9.74426 7.08019 9.77812 6.97683 9.77816Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g1LDjLvEp6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLoNKyqOo_"
        class="gLoNKyqOo_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLoNKyqOo__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8kPwzrZBi gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gn8ZbyTZ6k"}' data-id="gn8ZbyTZ6k" id="gn8ZbyTZ6k" data-same-height-subgrid-container class="gn8ZbyTZ6k gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:4px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gpTzFp-9NO gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gEctMsCpex" class="gp-leading-[0] gEctMsCpex" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gEctMsCpex" class="icon-wrapper gp-inline-flex gp-overflow-hidden gEctMsCpex " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="571476950585967461" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<path d="M13.4667 6.72421C13.2598 6.60272 13.0739 6.44799 12.9162 6.2661C12.9322 6.01286 12.9919 5.76439 13.0928 5.53196C13.2781 5.00372 13.4877 4.40535 13.1514 3.94016C12.815 3.47498 12.1798 3.48978 11.6224 3.50265C11.3761 3.52824 11.1273 3.51127 10.8866 3.45246C10.7584 3.24175 10.6668 3.01042 10.6158 2.76851C10.4578 2.22482 10.2776 1.61037 9.72397 1.42636C9.19011 1.25264 8.69575 1.63482 8.25872 1.97068C8.07014 2.14461 7.85164 2.28221 7.61401 2.37667C7.3739 2.28298 7.15296 2.14534 6.9623 1.97068C6.52654 1.63675 6.03409 1.25071 5.49769 1.427C4.94535 1.60844 4.76506 2.22482 4.6058 2.76851C4.55492 3.00964 4.46426 3.24041 4.3376 3.45117C4.09647 3.50982 3.84733 3.52722 3.60052 3.50265C3.04117 3.48721 2.41112 3.47047 2.07156 3.94016C1.73201 4.40986 1.94415 5.00372 2.13017 5.53132C2.23239 5.7634 2.293 6.01197 2.30919 6.26545C2.15188 6.44759 1.96617 6.60255 1.7594 6.72421C1.29307 7.04591 0.763672 7.41201 0.763672 8.00652C0.763672 8.60103 1.29307 8.96584 1.7594 9.28884C1.96613 9.4103 2.15184 9.56505 2.30919 9.74695C2.29469 10.0003 2.23581 10.2491 2.13527 10.4817C1.95052 11.0093 1.74157 11.6077 2.0773 12.0728C2.41302 12.538 3.04627 12.5233 3.60625 12.5104C3.85277 12.4848 4.10181 12.5017 4.34269 12.5606C4.47035 12.7716 4.56168 13.0027 4.6128 13.2445C4.7708 13.7882 4.95109 14.4027 5.50469 14.5867C5.59345 14.6154 5.68606 14.6302 5.77927 14.6304C6.22725 14.5655 6.64362 14.3598 6.9693 14.0423C7.15788 13.8684 7.37638 13.7308 7.61401 13.6364C7.85412 13.7301 8.07506 13.8677 8.26572 14.0423C8.70211 14.3789 9.19647 14.763 9.731 14.586C10.2833 14.4046 10.4636 13.7882 10.6228 13.2452C10.6739 13.0036 10.7652 12.7725 10.8929 12.5618C11.1331 12.5028 11.3816 12.4854 11.6275 12.5104C12.1869 12.5239 12.8169 12.5425 13.1564 12.0728C13.496 11.6032 13.2838 11.0093 13.0978 10.4811C12.9963 10.2492 12.9357 10.0012 12.9189 9.74823C13.0762 9.56594 13.2622 9.41096 13.4693 9.28949C13.9356 8.96777 14.465 8.60103 14.465 8.00652C14.465 7.41201 13.9337 7.04655 13.4667 6.72421Z" fill="#95C839"/>
<path d="M6.97683 9.77816C6.91407 9.77828 6.85192 9.76583 6.79397 9.74154C6.73601 9.71724 6.6834 9.68158 6.63918 9.63661L5.36506 8.34979C5.28065 8.25831 5.23471 8.13732 5.23689 8.01231C5.23908 7.88729 5.28922 7.76801 5.37677 7.6796C5.4643 7.59118 5.58241 7.54054 5.70618 7.53834C5.82997 7.53613 5.94977 7.58253 6.04034 7.66777L7.02142 8.65862L9.23839 6.97933C9.33978 6.90253 9.46724 6.86956 9.59268 6.88767C9.71811 6.90576 9.83127 6.97345 9.9073 7.07583C9.98333 7.17823 10.016 7.30692 9.99805 7.43361C9.98014 7.56031 9.91311 7.67463 9.81177 7.75141L7.2635 9.68165C7.18078 9.74426 7.08019 9.77812 6.97683 9.77816Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gHD7c6xO-A gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnFC6JmRXT"
        class="gnFC6JmRXT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnFC6JmRXT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gt94mXESG- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gQVMnkKMQq"}' data-id="gQVMnkKMQq" id="gQVMnkKMQq" data-same-height-subgrid-container class="gQVMnkKMQq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:4px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gQpglXGK7t gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gGDzFRhfGE" class="gp-leading-[0] gGDzFRhfGE" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gGDzFRhfGE" class="icon-wrapper gp-inline-flex gp-overflow-hidden gGDzFRhfGE " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:15px;--h:16px;--h-tablet:16px;--h-mobile:15px;--minw:16px;--minw-tablet:16px;--minw-mobile:15px;--height-desktop:16px;--height-tablet:16px;--height-mobile:15px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="571476950585967461" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
<path d="M13.4667 6.72421C13.2598 6.60272 13.0739 6.44799 12.9162 6.2661C12.9322 6.01286 12.9919 5.76439 13.0928 5.53196C13.2781 5.00372 13.4877 4.40535 13.1514 3.94016C12.815 3.47498 12.1798 3.48978 11.6224 3.50265C11.3761 3.52824 11.1273 3.51127 10.8866 3.45246C10.7584 3.24175 10.6668 3.01042 10.6158 2.76851C10.4578 2.22482 10.2776 1.61037 9.72397 1.42636C9.19011 1.25264 8.69575 1.63482 8.25872 1.97068C8.07014 2.14461 7.85164 2.28221 7.61401 2.37667C7.3739 2.28298 7.15296 2.14534 6.9623 1.97068C6.52654 1.63675 6.03409 1.25071 5.49769 1.427C4.94535 1.60844 4.76506 2.22482 4.6058 2.76851C4.55492 3.00964 4.46426 3.24041 4.3376 3.45117C4.09647 3.50982 3.84733 3.52722 3.60052 3.50265C3.04117 3.48721 2.41112 3.47047 2.07156 3.94016C1.73201 4.40986 1.94415 5.00372 2.13017 5.53132C2.23239 5.7634 2.293 6.01197 2.30919 6.26545C2.15188 6.44759 1.96617 6.60255 1.7594 6.72421C1.29307 7.04591 0.763672 7.41201 0.763672 8.00652C0.763672 8.60103 1.29307 8.96584 1.7594 9.28884C1.96613 9.4103 2.15184 9.56505 2.30919 9.74695C2.29469 10.0003 2.23581 10.2491 2.13527 10.4817C1.95052 11.0093 1.74157 11.6077 2.0773 12.0728C2.41302 12.538 3.04627 12.5233 3.60625 12.5104C3.85277 12.4848 4.10181 12.5017 4.34269 12.5606C4.47035 12.7716 4.56168 13.0027 4.6128 13.2445C4.7708 13.7882 4.95109 14.4027 5.50469 14.5867C5.59345 14.6154 5.68606 14.6302 5.77927 14.6304C6.22725 14.5655 6.64362 14.3598 6.9693 14.0423C7.15788 13.8684 7.37638 13.7308 7.61401 13.6364C7.85412 13.7301 8.07506 13.8677 8.26572 14.0423C8.70211 14.3789 9.19647 14.763 9.731 14.586C10.2833 14.4046 10.4636 13.7882 10.6228 13.2452C10.6739 13.0036 10.7652 12.7725 10.8929 12.5618C11.1331 12.5028 11.3816 12.4854 11.6275 12.5104C12.1869 12.5239 12.8169 12.5425 13.1564 12.0728C13.496 11.6032 13.2838 11.0093 13.0978 10.4811C12.9963 10.2492 12.9357 10.0012 12.9189 9.74823C13.0762 9.56594 13.2622 9.41096 13.4693 9.28949C13.9356 8.96777 14.465 8.60103 14.465 8.00652C14.465 7.41201 13.9337 7.04655 13.4667 6.72421Z" fill="#95C839"/>
<path d="M6.97683 9.77816C6.91407 9.77828 6.85192 9.76583 6.79397 9.74154C6.73601 9.71724 6.6834 9.68158 6.63918 9.63661L5.36506 8.34979C5.28065 8.25831 5.23471 8.13732 5.23689 8.01231C5.23908 7.88729 5.28922 7.76801 5.37677 7.6796C5.4643 7.59118 5.58241 7.54054 5.70618 7.53834C5.82997 7.53613 5.94977 7.58253 6.04034 7.66777L7.02142 8.65862L9.23839 6.97933C9.33978 6.90253 9.46724 6.86956 9.59268 6.88767C9.71811 6.90576 9.83127 6.97345 9.9073 7.07583C9.98333 7.17823 10.016 7.30692 9.99805 7.43361C9.98014 7.56031 9.91311 7.67463 9.81177 7.75141L7.2635 9.68165C7.18078 9.74426 7.08019 9.77812 6.97683 9.77816Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g4QbzwAeX6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2qlidiE4X"
        class="g2qlidiE4X"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2qlidiE4X_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  